@*@{
    ViewBag.Title = "Home";
}

</head>
<body>
    <header>
        <nav>
            <div class="row">
                <ul class="main-nav js--main-nav">
                    <li><a href="#features">An Intro</a></li>
                    <li><a href="#works">Classmates</a></li>
                    <li><a href="#cities">Projects</a></li>
                    <li><a href="#plans">Contact</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>Hello Kansas City<br>My Name is <span class="text-flicker-in-glow">Aaron</span> <span class="text-flicker-in-glowLate">Mayhew</span></h1>
            <a class="btn btn-full js--scroll-to-plans" href="#">My Centriq Classmates</a>
            <a class="btn btn-ghost js--scroll-to-start" href="#">About Me</a>
        </div>

    </header>

    <section class="section-features js--section-features" id="features">
        <div class="row">
            <h2>Full Stack Web Developer &mdash; Mostly Agrees With Plato, Mostly</h2>
            <p class="long-copy">
                I Came for the Tech, Centriq supplied the Tech, Here is the Tech that I can bring to your Table
            </p>
        </div>

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">
                <i><ion-icon name="flower-outline" class="icon-big"></ion-icon></i>
                <h3>Front End Development</h3>
                <p>
                    The knowledge of HTML, CSS, and JavaScript are absolute
                    musts in regards to any current Web Developer, these building blocks are the base for new libraries and frameworks
                </p>
            </div>
            <div class="col span-1-of-4 box">
                <ion-icon name="information-outline" class="icon-big"></ion-icon>
                <h3>Middle Tier in Various Stacks</h3>
                <p>
                    Using both C# and JavaScript Ive been trained to create routes as well as logic to guide an app
                    whether that app be in React or the .Net Framework
                </p>
            </div>
            <div class="col span-1-of-4 box">
                <ion-icon name="git-network-outline" class="icon-big"></ion-icon>
                <h3>SQL Database, and so much more</h3>
                <p>
                    SQL is the back-end tech used in all primary apps show-cased on my site, the Entity Framework and Linq
                    syntax are used as well
                </p>
            </div>
            <div class="col span-1-of-4 box">
                <ion-icon name="server-outline" class="icon-big"></ion-icon>
                <h3>From .Net, Past React....</h3>
                <p>
                    My Training at Centriq and KU in Web Development created a want to learn it all. Anything from a MERN Stack to a .NET Framework.. and BEYOND!
                </p>
            </div>
        </div>
    </section>

    <section class="section-plans js--section-plans" id="works">
        <ul class="meals-showcase clearfix">

            <li>
                <a href="http://www.Jonmboyce.com">
                    <figure class="meal-photo">
                        <img src="resources/img/1.jpg" alt="John Boyce" />
                    </figure>
                </a>
            </li>

            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/2.jpg" alt="Evan Whittaker" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/3.jpg" alt="Brice Paquette" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/4.jpg" alt="Shawn Keller" />
                    </figure>
                </a>
            </li>
        </ul>

        <ul class="meals-showcase clearfix">
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/5.jpg" alt="Amanda Clough" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/6.jpg" alt="Courtney Osburn" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/7.jpg" alt="Logan Mathews" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/8.jpg" alt="Joseph Ruiter" />
                    </figure>
                </a>
            </li>
        </ul>

        <ul class="meals-showcase clearfix">
            <li>
                <a href="">
                    <figure class="meal-photo">
                        <img src="resources/img/cen.jpg" alt="Centriq logo" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/tate.jpg" alt="Stephen Tate" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="http://www.MatthewWessley.com">
                    <figure class="meal-photo">
                        <img src="resources/img/wes.jpg" alt="Matthew Wessley" />
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure class="meal-photo">
                        <img src="resources/img/cen.jpg" alt="Centriq Logo" />
                    </figure>
                </a>
            </li>
        </ul>
    </section>


    <section class="section-cities" id="cities">
        <div class="row">
            <h2>Projects</h2>
        </div>
        <div class="row js--wp-3">
            <div class="col span-1-of-4 box">
                <img src="resources/img/lisbon-3.jpg" alt="dungeon app">
                <h3>Dungeon</h3>
                <div class="city-feature">
                    <i class="ion-ios-person icon-small"></i>
                    You're The Hero
                </div>
                <div class="city-feature">
                    <i class="ion-ios-star icon-small"></i>
                    Monsters love Hero's
                </div>
                <div class="city-feature">
                    <ion-icon name="logo-github" class="icon-small"></ion-icon>
                    <a href="https://github.com/xTurbeaux">Repo Link</a>
                </div>
            </div>
            <div class="col span-1-of-4 box">
                <img src="resources/img/san-francisco.jpg" alt="Tarkov Ammo App">
                <h3>Storefront</h3>
                <div class="city-feature">
                    <i class="ion-ios-person icon-small"></i>
                    A Companion App
                </div>
                <div class="city-feature">
                    <i class="ion-ios-star icon-small"></i>
                    Made for Tarkov
                </div>
                <div class="city-feature">
                    <ion-icon name="logo-github" class="icon-small"></ion-icon>
                    <a href="https://github.com/xTurbeaux">Repo Link</a>
                </div>
            </div>
            <div class="col span-1-of-4 box">
                <img src="resources/img/berlin.jpg" alt="Centriq Final Project">
                <h3>Final Project</h3>
                <div class="city-feature">
                    <i class="ion-ios-person icon-small"></i>
                    ?
                </div>
                <div class="city-feature">
                    <i class="ion-ios-star icon-small"></i>
                    ?
                </div>
                <div class="city-feature">
                    <ion-icon name="logo-github" class="icon-small"></ion-icon>
                    <a href="https://github.com/xTurbeaux">Repo Link</a>
                </div>
            </div>
            <div class="col span-1-of-4 box">
                <img src="resources/img/london.jpg" alt="Various Other Projects">
                <h3>Bibs N' Bobs</h3>
                <div class="city-feature">
                    <i class="ion-ios-person icon-small"></i>
                    Smaller Projects
                </div>
                <div class="city-feature">
                    <i class="ion-ios-star icon-small"></i>
                    Different Tech
                </div>
                <div class="city-feature">
                    <ion-icon name="logo-github" class="icon-small"></ion-icon>
                    <a href="https://github.com/xTurbeaux">Repo Link</a>
                </div>
            </div>
        </div>

    </section>


    <section class="section-form" id="plans">
        <div class="row">
            <h2>I WOULD BE HAPPY TO HEAR FROM YOU</h2>
        </div>
        <div class="row">
            <form method="post" action="#" class="contact-form ">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="name">Name</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="name" id="name" placeholder="Your name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="email" name="email" id="email" placeholder="Your email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="find-us">How did you find me?</label>
                    </div>
                    <div class="col span-2-of-3">
                        <select name="find-us" id="find-us">
                            <option value="friends" selected>Friends</option>
                            <option value="search">Job Search engine</option>
                            <option value="ad">Linkedin</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Shoot me a message</label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea name="message" placeholder="Your message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="Send it!">
                    </div>
                </div>

            </form>

        </div>
    </section>

    @RenderBody()

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">To Top</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2020 by Aaron Mayhew, All rights reserved.
            </p>
        </div>
    </footer>*@
